<h3>Astronauts to be Selected</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Job</th>
			<th>YearJoined</th>
			<th>Missions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let astronaut of astronautsToBeSelected" class="clickable">
			<td (click)="selectAstronaut(astronaut)">{{astronaut.id}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.name}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.job}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.year_joined}}</td>
			<select>
			<option *ngFor="let mission of astronaut.missions" [selected]="mission.name == 'back'">{{mission}} </option>
			</select>
		</tr>
	</tbody>
</table>

<h3>Astronauts Selected</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Job</th>
			<th>YearJoined</th>
			<th>Missions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let astronaut of astronautsSelected" class="clickable">
			<td (click)="deselectAstronaut(astronaut)">{{astronaut.id}}</td>
			<td (click)="deselectAstronaut(astronaut)">{{astronaut.name}}</td>
			<td (click)="deselectAstronaut(astronaut)">{{astronaut.job}}</td>
			<td (click)="deselectAstronaut(astronaut)">{{astronaut.year_joined}}</td>
			<select>
			<option *ngFor="let mission of astronaut.missions" [selected]="mission.name == 'back'">{{mission}} </option>
			</select>
		</tr>
	</tbody>
</table>