<h3>Astronauts to be Selected</h3>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Job</th>
			<th>YearJoined</th>
			<th>Missions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let astronaut of astronautsToBeSelected" class="clickable">
			<td (click)="selectAstronaut(astronaut)">{{astronaut.id}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.name}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.job}}</td>
			<td (click)="selectAstronaut(astronaut)">{{astronaut.year_joined}}</td>
			
		</tr>
	</tbody>
</table>

